h1 {
	font-family: 'Rajdhani', sans-serif;
	margin: auto;
	text-align: center;
	position: relative;
  	margin-top: 210px;
    
}
p {
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	font-size: 18px;
	font-style: italic;

}
button {
	font-family: 'Rajdhani', sans-serif;
	margin: auto;
	background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inherit;
    font-size: 16px;
}
button:hover {
	color: #333333;
	background-color:#ffffff;
}

#background {
	clear: both;
	background-image: url("../images/background.png");
	margin: auto;
	width: 100%;
	height: 1000px;
	border-top: solid;
}
#points {
	font-family: 'Rajdhani', sans-serif;
    margin: auto;
    position: relative;
  	text-align: center;
    font-size: 18px;
}
#mysteryWord, #lettersGuessed{
	font-family: 'Rajdhani', sans-serif;
	margin: auto;
	text-align: center;
	font-size: 24px;
}

#guessesRemaining {
	font-family: 'Rajdhani', sans-serif;
	margin: auto;
	text-align: center;
	font-size: 24px;
	float: left;
}
#youwin, #youlose {
	text-align: center;
	font-size: 30px;

}

